
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
   
}

.topo{
    position: fixed;
    width: 100%;
    background-color: #604829;
    height: 100px;
}

h2{
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    color: #c4a47c;
    text-align: center;
    margin: 0 auto 40px auto;

}

.img-3, .img-2{
    position: relative;
    
    
}

.img-3 h3{
    width: 500px;
    background-color: #604829;
    padding: 10px;
    color: white;
    position: absolute;
    top: 45%;
    text-align: center;
    font-family: 'Fraunces', serif;
    font-size: 24px;
    
    right: 33%;
    
    
}

.img-2 h3{
    width: 500px;
    background-color: #604829;
    padding: 10px;
    color: white;
    position: absolute;
    top: 45%;
    text-align: center;
    font-family: 'Fraunces', serif;
    font-size: 24px;
    
    right: 33%;
    
    
}

.banner h1 {
    position: absolute;
    top: 55%;
    left: 0;
    right: 0;
    color: white;
    text-align: center;
    font-size: 75px;
    
}

.topo img{
    width: 100px;
    left: 15%;
    position: absolute;
}

.link {
    top: 35%;
    right: 15%;
    position: absolute;
    

}

.link a {
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    color: #c4a47c;
    text-shadow:  4px 3px  1px rgba(0, 0, 0, 0.34);
    padding-right: 10px;
    font-size: 18px;

}


.banner{
   
    background-image: url(assets/parallax-imagem1.png);
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
}

.img-2{
    height: 100vh;
    background-image: url(assets/parallax-imagem3.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
}

.img-3{
    height: 50vh;
    background-image: url(assets/parallax-imagem2.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
}

.contatos{
    height: 120vh;
    background-image: url(assets/parallax-imagem4.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
}

.horarios{
    height: 100vh;
    background-image: url(assets/cafeteria.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
}


.informacoes .in, .in-2{
    padding: 80px 0;
    
}

.informacoes .in-1 {
    padding: 0 0;
}

.informacoes p{
    padding: 0 20px;
    max-width: 1024px;
    text-align: center;
    margin: 20px auto;
    line-height: 30px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;

    
}

.contatos{
    position: relative;
}

.contatos h2 {
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    width: 500px;
    padding: 10px;
    position: absolute;
    background-color: #604829;
    color: white;
    top: 10%;
    left: 0%;
    right: 0%;
}

.contatos iframe{
    width: 650px;
    height: 350px;
    position: absolute;
    top: 23%;
    left: 350px;
    

}

.edereco{
    position: relative;
}

.endereco {
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    width: 500px;
    padding: 10px;
    position: absolute;
    background-color: #604829;
    color: white;
    bottom: 4%;
    left: 440px;
}

.horarios{
    position: relative;
}


.lista{
    width: 768px;
    bottom: 20%;
    left: 22%;
    position: absolute;
    line-height: 50px;
    
    
    
}

.lista h3 {
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    position: absolute;
    font-size: 16px;
    position: absolute;
    left: 7%;
}


   







.lista li { /* itens da lista */
    position: relative;
    color: white;
}

.lista li div { /* tarja */
    width: 70%;
    height: 1px;
    position: absolute;
    right: 0%;
    left: 15%;
    bottom: 40%;
    background-color: #acacac;
   
    
}

.lista li p, span { /* parágrafos */
    position: absolute;
    
    right: 1%;
    top: 10%;
    line-height: 50px;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    position: absolute;
    font-size: 16px;
    
}

.rodape {
    position: relative;
}

.rodape a {
    width: 60px;
    height: 60px;
    position: absolute;
    right: 50px;
    bottom: 55px;
}

.horarios{
    position: relative;
}

.horarios h2{
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    position: absolute;
    color: white;
    top: 20%;
    left: 43%;
}

.rodape {
    background-color: black;
    padding: 20px 0px;

}
.rodape p{
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 16px ;
    text-align: center;

}



